body {
    background-color: darkslategray;
}

.form,
.greetings {
    display: none;
}

.showing {
    display: block;
}

.bgImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.bg-showing {
    z-index: -1;
    opacity: 1;
}