@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&display=swap');

body {
    font-family: 'Nanum Myeongjo', serif;
    font-size: 20px;
    background-color: darkslategray;
    text-align: center;
}

button:active {
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.8);
}

.board {
    position: right;
}

.form,
.greetings {
    display: none;
}

.showing {
    display: block;
    position: relative;
}

.bgImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.bg-showing {
    z-index: -1;
    opacity: 1;
}

#prev {
    z-index: 100;
    outline: none;
    border: none;
    position: fixed;
    left: 10px;
    padding: 12px 20px;
    margin: 8px 0;
}

#next {
    z-index: 100;
    outline: none;
    border: none;
    float: right;
    position: fixed;
    right: 10px;
    padding: 12px 20px;
    margin: 8px 0;
}

ul{
    list-style-type: none;
}

li:before {
    content: "🚩"
}

.deleteBtn {
    background-color: rgba( 0.5, 0.5, 0.5, 0.5 );
    outline: none;
    border: none;
}

input[type=text] {
    padding: 12px 20px;
    margin: 8px 0;
    outline: none;
    border: none;
    font-size: 20px;
}